<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>main</title>
</head>
<body>
    <!-- 서버에서 동작(미리 html로 처리) -->
    <% for (var i = 0; i <10; i++) {%>
    이름 : <%= name %><br>
    나이 : <%= age %><br>
    직업 : <%= job %><br>
    <% } %>
</body>
<script>
    // 브라우저에서 출력 결과로 나옴
    for(var i = 0; i < 10; i++){

    }
</script>
</html>
